html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans serif;
  font-weight: 400;
  color: $desaturatedRed;
}


a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  @include breakpoint-up(large) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.logo img {
  display: block;
  width: 170px;
  padding: 30px;

  @include breakpoint-up(large) {
    padding: 0;
    margin-left: 30px;
    width: 150px;
  }
}

.main {
  background-image: $linear1;
  background-repeat: no-repeat;
  text-align: center;

  @include breakpoint-up(large) {
    height: 800px;
    width: 830px;
    text-align: left;
    padding: 71px 174px 60px 133px;;
    line-height: 1.2;
    background-image: url(/base-apparel-coming-soon-master/images/bg-pattern-desktop.svg), $linear1;
  }
}


.notice {
  padding: 20px 38px 80px;
}

.notice__heading {
  margin-top: 50px;

  @include breakpoint-up(large) {
    margin-top: 100px;
  }
}

.notice__heading p {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 300;

  @include breakpoint-up(large) {
    font-size: 4.2rem;
  }
}

.notice__heading p:not(:first-child) {
  color: $darkGrayishRed;
  font-weight: 600;
}

.notice__message {
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 30px;

  @include breakpoint-up(large) {
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 1;
  }
}

// Visiblity
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}