html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans serif;
  font-weight: 400;
  color: $desaturatedRed;
}


a, a:visited, a:hover {
  text-decoration: none;
}


// Flexbox
.flex {
  display: flex;
  
  &-jc-sb {
      justify-content: space-between;
  }

  &-jc-c {
      justify-content: center;
  }

  &-ai-c {
      align-items: center;
  }
}

.logo {
  padding: 30px;
}

.logo img {
  display: block;
  width: 100px;
}

.content {
  // flex-direction: column;
  background-image: $linear1;
  background-repeat: no-repeat;
  text-align: center;
  padding: 1.5rem;
}

.coming_soon {
  text-align: center;
  margin-top: 50px;
}

.coming_soon p {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 300;
}

.coming_soon p:not(:first-child) {
  color: $darkGrayishRed;
  font-weight: 600;
}

.message {
  line-height: 1.5;
  padding: 0 18px;
  text-align: center;
}

// Visiblity

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}