html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans serif;
  font-weight: 400;
  color: #ce9797;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .content-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo img {
  display: block;
  width: 170px;
  padding: 30px;
}

@media (min-width: 64em) {
  .logo img {
    padding: 0;
    width: 200px;
  }
}

.main {
  background-image: linear-gradient(135deg, white, #fff5f5);
  background-repeat: no-repeat;
  text-align: center;
}

@media (min-width: 64em) {
  .main {
    height: 800px;
    width: 700px;
    text-align: left;
    padding: 30px 150px 60px 150px;
  }
}

.notice {
  padding: 20px 38px 80px;
}

.notice__heading {
  margin-top: 50px;
}

@media (min-width: 64em) {
  .notice__heading {
    margin-top: 100px;
  }
}

.notice__heading p {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 300;
}

.notice__heading p:not(:first-child) {
  color: #413a3a;
  font-weight: 600;
}

.notice__message {
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.form__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 24px;
  height: 48px;
  border: 1px solid #ce9797;
}

.form__group input:focus {
  outline: none;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__input input {
  border: none;
  width: 80%;
  height: 100%;
  background-color: linear-gradient(135deg, white, #fff5f5);
  line-height: 1.3;
}

::-webkit-input-placeholder {
  background-image: linear-gradient(135deg, white, #fff5f5);
  color: #ce9797;
  opacity: 1;
}

:-ms-input-placeholder {
  background-image: linear-gradient(135deg, white, #fff5f5);
  color: #ce9797;
  opacity: 1;
}

::-ms-input-placeholder {
  background-image: linear-gradient(135deg, white, #fff5f5);
  color: #ce9797;
  opacity: 1;
}

::placeholder {
  background-image: linear-gradient(135deg, white, #fff5f5);
  color: #ce9797;
  opacity: 1;
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 10px 30px -3px #ce9797;
          box-shadow: 0 10px 30px -3px #ce9797;
  height: 100%;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border-radius: 24px;
  width: 65px;
  padding-left: 2px;
}
/*# sourceMappingURL=style.css.map */